In [1]:
import requests
from bs4 import BeautifulSoup

In [140]:
url= 'https://www.libreriabahia.com/es/home_libros'
headers = { 'User-Agent' : 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:94.0) Gecko/20100101 Firefox/94.0' }
paxina = requests.get(url, headers = headers)
soup = BeautifulSoup(paxina.content,'html.parser')

In [41]:
#Imprime los libros que hay disponibles
result = soup.find_all('form')
for libros in result:
    libro=libros.find_all(class_='title')
    for s in libro:
        print(s.text.strip('(\r)(\n)'))

TOKYO REVENGERS 03
HAIKY-!! Nº 04
SOLO LEVELING 04
DRAGON BALL SUPER Nº 14
LA GRUTA DE LAS ESTRELLAS
PRINCESAS. VÍSTEME CON PEGATINAS
FROZEN 2. VÍSTEME CON PEGATINAS
MINNIE. VÍSTEME CON PEGATINAS
LA INVENCIÓN DEL REINO VEGETAL
EL MUNDO ILUSTRADO DE TOLKIEN
MINDFULNESS EN LA VIDA COTIDIANA
HISTORIA DE LOS PERDEDORES

In [138]:
#Imprime los libros y sus autores que hay disponibles
result = soup.find_all('form')
for libros in result:
    libro=libros.find_all(class_='title')
    autor=libros.find_all(class_='creator')
    for s in range(len(libro)):
        print(libro[s].text.strip('(\r)(\n)'),autor[s].text.strip('(\r)(\n)'))

TOKYO REVENGERS 03                         WAKUI, KEN
HAIKY-!! Nº 04                         FURUDATE, HARUICHI
SOLO LEVELING 04                         CHUGONG
DRAGON BALL SUPER Nº 14                         TORIYAMA, AKIRA             /             TOYOTAR"
LA GRUTA DE LAS ESTRELLAS                         STILTON, TEA
PRINCESAS. VÍSTEME CON PEGATINAS                         DISNEY
FROZEN 2. VÍSTEME CON PEGATINAS                         DISNEY
MINNIE. VÍSTEME CON PEGATINAS                         DISNEY
LA INVENCIÓN DEL REINO VEGETAL                         S. ERICE, AINA
EL MUNDO ILUSTRADO DE TOLKIEN                         DAY, DAVID
MINDFULNESS EN LA VIDA COTIDIANA                         KABAT-ZINN, JON
HISTORIA DE LOS PERDEDORES                         ÍÑIGO FERNÁNDEZ, LUIS E.

In [139]:
#Añade al DataFrame anterior si estan disponibles los libros
data=[]
result = soup.find_all('form')
for libros in result:
    libro=libros.find_all(class_='title')
    precio=libros.find_all('strong')
    for s in range(len(libro)):
        data.append([libro[s].text.strip('(\r)(\n)'),precio[s].text])


libros = pd.DataFrame(data,columns = ['Libro','Precio'])  
libros

                               Libro   Precio
0                 TOKYO REVENGERS 03  16,00 €
1                     HAIKY-!! Nº 04   7,95 €
2                   SOLO LEVELING 04  14,96 €
3            DRAGON BALL SUPER Nº 14   7,95 €
4          LA GRUTA DE LAS ESTRELLAS  13,95 €
5   PRINCESAS. VÍSTEME CON PEGATINAS   7,95 €
6    FROZEN 2. VÍSTEME CON PEGATINAS   7,95 €
7      MINNIE. VÍSTEME CON PEGATINAS   7,95 €
8     LA INVENCIÓN DEL REINO VEGETAL  22,90 €
9      EL MUNDO ILUSTRADO DE TOLKIEN  30,00 €
10  MINDFULNESS EN LA VIDA COTIDIANA  21,00 €
11        HISTORIA DE LOS PERDEDORES  21,90 €

In [134]:
#Añade al DataFrame anterior si estan disponibles los libros
data=[]
result = soup.find_all('form')
for libros in result:
    libro=libros.find_all(class_='title')
    precio=libros.find_all('strong')
    dispo=libros.find_all(class_='disponibilidad')
    for s in range(len(libro)):
        data.append([libro[s].text.strip('(\r)(\n)'),precio[s].text,dispo[s].text])


libros = pd.DataFrame(data,columns = ['Libro','Precio','dispo'])  
libros

                               Libro   Precio                      dispo
0                 TOKYO REVENGERS 03  16,00 €   Consultar disponibilidad
1                     HAIKY-!! Nº 04   7,95 €              No disponible
2                   SOLO LEVELING 04  14,96 €   Consultar disponibilidad
3            DRAGON BALL SUPER Nº 14   7,95 €              No disponible
4          LA GRUTA DE LAS ESTRELLAS  13,95 €                 Disponible
5   PRINCESAS. VÍSTEME CON PEGATINAS   7,95 €                 Disponible
6    FROZEN 2. VÍSTEME CON PEGATINAS   7,95 €                 Disponible
7      MINNIE. VÍSTEME CON PEGATINAS   7,95 €                 Disponible
8     LA INVENCIÓN DEL REINO VEGETAL  22,90 €   Consultar disponibilidad
9      EL MUNDO ILUSTRADO DE TOLKIEN  30,00 €                 Disponible
10  MINDFULNESS EN LA VIDA COTIDIANA  21,00 €                 Disponible
11        HISTORIA DE LOS PERDEDORES  21,90 €   Consultar disponibilidad

In [141]:
#Saca la imagen del libro DRAGON BALL SUPER
soup.find(class_='foto').get('src')

'https://www.libreriabahia.com/images/NOportada.jpg'